<div class="flex-column gap-10 align-center my-9">
  <h1 class="text-weight-bold title">Inscription</h1>
</div>

<div class="flex flex-column justify-center align-center gap-15 mt-5">
  <form #registerForm="ngForm" (ngSubmit)="submit()" class="flex-column gap-15">
    <div class="flex-column gap-4 w-22">
      <!--<label for="emailRegister">Email</label>-->
      <span class="icon-in-input w-100percent">
        <input id="emailRegister" #emailInput="ngModel" [(ngModel)]="email" pattern="^[^@]+@[^@]+\.[^@]+$" name="email" placeholder=" "
               type="text" class="w-100percent" required>
        <span>Adresse mail</span>
        <img src="../assets/icons/mail.svg" alt="menu" width="20" height="20"/>
      </span>
    </div>

    <div class="flex-column gap-4 w-22">
      <!--<label for="firstNameRegister">Firstname</label>-->
      <span class="icon-in-input w-100percent">
        <input type="text" class="w-100percent" placeholder=" " name="firstname" id="firstNameRegister" [(ngModel)]="firstName" required>
        <span>Prénom</span>
        <img src="../assets/icons/user-round.svg" alt="menu" width="20" height="20"/>
      </span>
    </div>

    <div class="flex-column gap-4 w-22">
      <!--<label for="lastNameRegister">Lastname</label>-->
      <span class="icon-in-input w-100percent">
        <input type="text" class="w-100percent"  placeholder=" " name="lastname" id="lastNameRegister" [(ngModel)]="lastName" required>
        <span>Nom</span>
        <img src="../assets/icons/user-round.svg" alt="menu" width="20" height="20"/>
      </span>
    </div>

    <div class="flex-column gap-4 w-22">
      <!--<label for="passwordRegister">Password</label>-->
      <span class="icon-in-input w-100percent">
        <input type="password" class="w-100percent" placeholder=" " name="password" id="passwordRegister" [(ngModel)]="password" required>
        <span>Mot de passe</span>
        <img src="../assets/icons/lock.svg" alt="menu" width="20" height="20"/>
      </span>
      <span>Force du mot de passe: {{ passwordSecurityLevel }}</span>
    </div>

    <div class="flex-column gap-4 w-22">
      <!--<label for="passwordRegister">Password</label>-->
      <span class="icon-in-input w-100percent">
        <input type="password" class="w-100percent" placeholder=" " name="passwordconfirmation" id="passwordconfirmation" [(ngModel)]="passwordconfirmation" required [passwordConfirmation]="password">
        <span>Confirmation mot de passe</span>
        <img src="../assets/icons/lock.svg" alt="menu" width="20" height="20"/>
      </span>
    </div>

    <div class="flex-column align-center gap-10">
      <button class="button button-turquoise w-100percent-imp" [disabled]="!registerForm.valid || password !== passwordconfirmation" type="submit">
        <img *ngIf="!registerForm.valid" src="../assets/icons/log-in-gray.svg" alt="(icone login)" width="20" height="20"/>
        <img *ngIf="registerForm.valid" src="../assets/icons/log-in.svg" alt="(icone login)" width="20" height="20"/>
        S'inscrire
      </button>
      <a routerLink="/login" [queryParams]="loginQueryParams">Déjà inscrit ? </a>
    </div>

  </form>
</div>
