<h1>Les évènements</h1>
<p></p>
<div *ngIf="events.length === 0">
  <p>(Aucun évènement n'a été trouvé.)</p>
</div>

<div *ngFor="let event of events">
  <div>
    <h3>{{event.name}}</h3>
    <p>{{event.description}}</p>
    <a routerLink="{{event.id}}/join">Rejoindre</a>
  </div>
</div>
