<div class="flex-column gap-4">
  <div class="flex-column gap-2">
    <label for="selectTemplate" class="fs-4">Modèle à utiliser</label>
    <select id="selectTemplate" [(ngModel)]="selectedTemplate" [disabled]="!canChangeSelectedTemplate">
      <option [ngValue]="undefined">--- Aucun ---</option>
      <option *ngFor="let template of templates" [ngValue]="template">
        <ng-container *ngIf="template.shared">(Partagé) </ng-container>
        {{ template.label }}
      </option>
    </select>
  </div>

  <div class="flex-column flex-fill gap-15">
    @if (!!selectedTemplate) {
      <span class="text-center">Si vous modifiez le contenu du modèle dans cette page, il ne sera pas sauvegarder.</span>
    }

    <div class="flex-column flex-fill gap-5">
      <div class="icon-in-input w-100percent">
        <input id="emailsubject" [(ngModel)]="model.subject" placeholder=" " />
        <label for="emailsubject">Sujet de l'email</label>
      </div>
      <span>Contenu de l'email</span>
      <quill-editor format="html" [(ngModel)]="model.content" [classes]="'min-h-20'"  />
    </div>

    <div class="flex-column p-2 gap-3">
      <h2 class="m-0">Valeurs de substitution</h2>
      <div *ngFor="let placeholder of placeholders" class="flex-column align-start">
        <span class="text-bolder">{{ placeholder.name }}</span>
        <span>Valeur de substitution <span class="color-turquoise">{{ '{' + placeholder.placeHolder + '}' }}</span></span>
        <span>Type: {{ placeholder.type | placeholderType }}</span>
        <p class="m-0">{{ placeholder.description }}</p>
      </div>
    </div>

    <div class="flex-column gap-2">
      <div class="flex align-center gap-2">
        <label for="showMyAddressAsFrom">Faire apparaitre votre adresse mél en adresse source:</label>
        <e-checkbox [inputId]="'showMyAddressAsFrom'" [name]="'showMyAddressAsFrom'" [(ngModel)]="model.showMyAddressAsFrom"  />
        <label for="showMyAddressAsFrom" *ngIf="model.showMyAddressAsFrom">Oui</label>
        <label for="showMyAddressAsFrom" *ngIf="!model.showMyAddressAsFrom">Non</label>
      </div>
      <div class="flex align-center gap-2">
        <label for="showMyAddressAsReplyTo">Faire apparaitre votre adresse mél en adresse de réponse:</label>
        <e-checkbox [inputId]="'showMyAddressAsReplyTo'" [name]="'showMyAddressAsReplyTo'" [(ngModel)]="model.showMyAddressAsReplyTo"  />
        <label for="showMyAddressAsReplyTo" *ngIf="model.showMyAddressAsReplyTo">Oui</label>
        <label for="showMyAddressAsReplyTo" *ngIf="!model.showMyAddressAsReplyTo">Non</label>
      </div>
    </div>

    <div class="flex-column gap-2 mx-4">
      <div class="flex w-100percent gap-2">
        @if (needSendConfirmation) {
          <button class="flex-fill button button-turquoise" style="max-width: calc(50% - .5rem)" (click)="confirmSending()">Confirmer l'envoi du mél à tout le monde</button>
          <button class="flex-fill button button-negatif" style="max-width: calc(50% - .5rem)" (click)="cancelSending()">Annuler</button>
        }
        @else {
          <button [disabled]="!model.subject || !model.content" class="button button-turquoise flex-fill" (click)="tryToSendEmail()">Envoyer le mél à tout le monde</button>
        }
      </div>
      <div class="flex w-100percent">
        <button class="flex-fill button button-turquoise" [disabled]="!model.subject || !model.content" (click)="sendSampleEmail()">M'envoyer ce mél individuellement</button>
      </div>
    </div>
  </div>
</div>
