<div class="flex-column align-center gap-14 header">
  <div class="flex-fill flex-column gap-2">
    <div class="flex justify-between align-center">
      <h1>{{ team.event.name }}</h1>
      @if (!team.validated) {
        <img src="/assets/icons/log-out.svg" class="cursor-pointer" (click)="leaveEventModal(team.event.id)" />
      }
    </div>
    @if (team.event.beginning !== undefined) {
      <span class="color-grey text-bolder">Prévu pour le {{ team.event.beginning | date: 'dd/MM/YYYY' }}</span>
    }
    @if (team.event.registerBeginning !== undefined && team.event.registerEnding !== undefined) {
      <span class="color-grey">Inscriptions du {{ team.event.registerBeginning | date: 'dd/MM/YYYY' }} au {{ team.event.registerEnding | date: 'dd/MM/YYYY' }}</span>
    } @else if (team.event.registerBeginning !== undefined) {
      <span class="color-grey">Inscriptions à partir du {{ team.event.registerBeginning | date: 'dd/MM/YYYY' }}</span>
    } @else if (team.event.registerEnding !== undefined) {
      <span class="color-grey">Inscriptions jusqu'au {{ team.event.registerEnding | date: 'dd/MM/YYYY' }}</span>
    }
    <span>{{ team.event.description }}</span>
  </div>
  <div class="flex-column align-start bg-salmon shadow-card py-4 px-8 gap-4">
    <span class="w-max-content text-bolder fs-6">Conditions pour s'inscrire</span>
    <ul>
      @if (team.event.allowTeamName) {
        <li>Nom d'équipe</li>
      }
      @if (team.event.minimalTeamSize !== undefined && team.event.maximalTeamSize !== undefined) {
        @if (team.event.minimalTeamSize === team.event.maximalTeamSize) {
          <li>{{ team.event.minimalTeamSize }} membre{{ team.event.minimalTeamSize > 1 ? 's' : '' }} exactement</li>
        } @else {
          <li>{{ team.event.minimalTeamSize }} à {{ team.event.maximalTeamSize }} membre{{ team.event.maximalTeamSize > 1 ? 's' : '' }}</li>
        }
      }
      @else if (team.event.maximalTeamSize !== undefined) {
        <li>Pas plus de {{ team.event.maximalTeamSize }} membre{{ team.event.maximalTeamSize > 1 ? 's' : '' }}</li>
      }
      @else if (team.event.minimalTeamSize !== undefined) {
        <li>Pas moins de {{ team.event.minimalTeamSize }} membre{{ team.event.minimalTeamSize > 1 ? 's' : '' }}</li>
      }
      @if (teamDocumentRequired; as teamDocuments) {
        @if (teamDocuments.length > 0) {
          <li>Document{{ teamDocuments.length > 1 ? 's' : '' }} d'équipe</li>
          @for (teamDocument of teamDocuments; track teamDocument) {
            <li class="ml-5">{{ teamDocument.name }}</li>
          }
        }
      }
      @if (individualDocumentRequired; as individualDocuments) {
        @if (individualDocuments) {
          <li>Document{{ individualDocuments.length > 1 ? 's' : '' }} individuel{{ individualDocuments.length > 1 ? 's' : '' }}</li>
          @for (individualDocument of individualDocuments; track individualDocument) {
            <li class="ml-5">{{ individualDocument.name }}</li>
          }
        }
      }
    </ul>
    <button class="button button-turquoise p-1 align-self-center" (click)="validate()" [disabled]="team.validated">
      <img src="/assets/icons/eye.svg" />
      Inscrire l'équipe
    </button>
  </div>
</div>

<h2>Mes informations</h2>
<div class="flex-column gap-4">
  <label for="tshirtsize">Taille de t-shirt</label>
  <select id="tshirtsize" name="tshirtsize" [(ngModel)]="tShirtSize">
    <option [ngValue]="undefined" disabled selected>--- Choisissez une taille de t-shirt ---</option>
    <option [ngValue]="'XXS'">XS</option>
    <option [ngValue]="'S'">S</option>
    <option [ngValue]="'M'">M</option>
    <option [ngValue]="'L'">L</option>
    <option [ngValue]="'XL'">XL</option>
    <option [ngValue]="'XXL'">XXL</option>
  </select>
  @if (moreThanOneIndividualDocument) {
    <span class="mt-4">Mes documents</span>
    <div class="flex flex-wrap justify-center gap-15">
      @for (documentRequirement of team.event.documentRequirements; track documentRequirement) {
        @if (documentRequirement.individual) {
          <div class="shadow-card border-radius max-w w-min-15rem px-5 pt-5 pb-5 flex-column align-center gap-4">
            <img src="/assets/icons/file.svg" aria-hidden="true" class="w-70percent" width="48" height="48">

            <span>{{ documentRequirement.name }}</span>
            @if (!documentRequirement.optional) {
              <span class="text-italic">(obligatoire)</span>
            }

            @if (documentRequirement.documentId) {
              <div class="flex-column justify-evenly gap-3 mt-2 w-100percent">
                <span>Modèle :</span>
                <div class="flex-column align-center gap-4">
                  <button class="button button-orange" (click)="seeDocumentRequirementDocument(documentRequirement)">
                    <img src="/assets/icons/eye.svg" aria-label="Voir le document" width="20" height="20">
                    Visionner
                  </button>
                  <a class="button button-orange" [href]="documentRequirement.documentId | documentUrl: true" target="_blank">
                    <img src="/assets/icons/download.svg" aria-label="Télécharger le document" width="20" height="20">
                    Télécharger
                  </a>
                </div>
              </div>
            }

            <div class="flex-column justify-evenly gap-3 mt-2 w-100percent">
              <span>Nos documents :</span>
              <div class="flex-column align-center gap-4">
                @if (!getUserDocument(documentRequirement)) {
                  <button class="button button-orange" (click)="addUserDocument(documentRequirement)" [disabled]="isLoading">
                    <img src="/assets/icons/upload.svg" aria-label="Joindre le document" width="20" height="20">
                    Joindre
                  </button>
                } @else {
                  <button class="button button-orange" (click)="seeUserDocument(documentRequirement)">
                    <img src="/assets/icons/eye.svg" aria-label="Voir mon document" width="20" height="20">
                    Visionner
                  </button>
                  <a class="button button-orange" [href]="getUserDocument(documentRequirement)!.documentId! | documentUrl: true" target="_blank">
                    <img src="/assets/icons/download.svg" aria-label="Télécharger le document" width="20" height="20">
                    Télécharger
                  </a>
                  <button class="button button-negatif" (click)="deleteUserDocument(documentRequirement)" [disabled]="isLoading">
                    <img src="/assets/icons/trash-2.svg" aria-label="Supprimer mon document" width="20" height="20">
                    Supprimer
                  </button>
                }
              </div>
            </div>
          </div>
        }
      }
    </div>
  }
</div>

<h2 class="mt-6">Mon équipe <span class="color-grey">({{ team.members.length }})</span></h2>

<div class="flex justify-end align-end gap-4">
  @if (team.event.allowTeamName) {
    <span class="icon-in-input w-100percent">
      <input [(ngModel)]="teamName" id="teamname" name="teamname" required type="text" placeholder=" " [disabled]="team.validated">
      <span>Nom d'équipe</span>
      <img src="/assets/icons/case-upper.svg" alt="menu" width="20" height="20"/>
    </span>
  }
</div>

<div class="flex-column">
  <span>Membres</span>
  <div class="flex flex-wrap gap-15 my-4 align-center justify-center">
    @if (!team.validated) {
      <div class="flex justify-center align-center w-15 h-18" (click)="openInvitationModal()">
        <button type="button" class="button-add-dotted w-100percent h-100percent">
          <img src="/assets/icons/circle-plus-grey.svg" alt="menu" width="24" height="24"/>
        </button>
      </div>
    }

    @for (member of team.members; track member.userId) {
      <div class="shadow-card border-radius w-15 h-18 max-w px-5 pt-2 pb-5 flex-column justify-between">
        <span></span>
        <span class="flex justify-center align-center mb-2">
          @if (!!member.profilePictureId) {
            <img [src]="member.profilePictureId | documentUrl" aria-hidden="true" class="w-70percent">
          } @else {
            <img src="/assets/illustrations/undraw_off_road_re_leme.svg" aria-hidden="true" class="w-70percent border-radius">
          }
        </span>
        <span class="text-center text-weight-medium">{{ member.firstName }} {{ member.lastName }}</span>
      </div>
    }
  </div>
</div>

@if (moreThanOneTeamDocumentRequired) {
  <span>Documents d'équipe</span>
  <div class="flex flex-wrap justify-center gap-15">
    @for (documentRequirement of team.event.documentRequirements; track documentRequirement) {
      @if (!documentRequirement.individual) {
        <div class="shadow-card border-radius max-w px-5 pt-5 pb-5 flex-column align-center gap-4">
          <img src="/assets/icons/file.svg" aria-hidden="true" class="w-70percent" width="48" height="48">

          <div class="flex-column align-center">
            <span>{{ documentRequirement.name }}</span>
            @if (!documentRequirement.optional) {
              <span class="text-italic">(obligatoire)</span>
            }
          </div>

          @if (documentRequirement.documentId) {
            <div class="flex align-center gap-3 mt-2">
              <span>Modèle:</span>
              <button class="button" (click)="seeDocumentRequirementDocument(documentRequirement)">
                <img src="/assets/icons/eye.svg" aria-label="Voir le document" width="20" height="20">
              </button>
              <a class="button" [href]="documentRequirement.documentId | documentUrl: true" target="_blank">
                <img src="/assets/icons/download.svg" aria-label="Télécharger le document" width="20" height="20">
              </a>
            </div>
          }

          <div class="flex align-center gap-3 mt-2">
            @if (!getTeamDocument(documentRequirement)) {
              <button class="button" (click)="addTeamDocument(documentRequirement)" [disabled]="isLoading">
                <img src="/assets/icons/upload.svg" aria-label="Joindre le document" width="20" height="20">
              </button>
            } @else {
              <button class="button" (click)="seeTeamDocument(documentRequirement)">
                <img src="/assets/icons/eye.svg" aria-label="Voir le document" width="20" height="20">
              </button>
              <a class="button" [href]="getTeamDocument(documentRequirement)!.documentId! | documentUrl: true" target="_blank">
                <img src="/assets/icons/download.svg" aria-label="Télécharger le document" width="20" height="20">
              </a>
              <button class="button" (click)="deleteTeamDocument(documentRequirement)" [disabled]="isLoading">
                <img src="/assets/icons/trash-2.svg" aria-label="Supprimer le document" width="20" height="20">
              </button>
            }
          </div>
        </div>
      }
    }
  </div>
}
<button class="button button-negatif" (click)="leaveTeam()" [disabled]="team.validated">
  <img src="/assets/icons/log-out.svg" alt="icon" aria-hidden="true" />
  <span class="w-max-content">Quitter l'équipe</span>
</button>

<input #fileInput (change)="onFileSelected($event)" accept="image/*, .pdf" class="d-none" name="fileSelector"
       type="file"/>
