<span class="flex-column align-center mb-15">
  <h1 class="text-weight-bold title my-9 text-center">Les équipes inscrites</h1>
  <img src="../assets/illustrations/undraw_off_road_re_leme.svg" alt="(illustration)" class="w-60percent">
</span>

<span class="flex justify-evenly my-5">
  <a routerLink="/event/{{ eventId }}/emails" class="button button-orange">Méls</a>
  <a routerLink="/event/{{ eventId }}/team-merging" class="button button-orange">Fusion d'équipes</a>
</span>
<span class="align-self-end">Total: {{ teams.length }} équipe{{ teams.length > 1 ? 's' : '' }}</span>
<table class="w-100percent">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Nombre de membres</th>
      <th>État de l'inscription</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (team of teams; track team) {
      <tr>
        <td>
          @if (!team.name) {
            <span>{{ team.name}}</span>
          }
          @else {
            <span class="text-italic">#{{ team.id }}</span>
          }
        </td>
        <td>{{ team.members.length }}</td>
        <td>{{ team.validated ? 'Validé' : 'En attente' }}</td>
        <th class="flex-column gap-2">
          <button (click)="seeDetails(team)" class="button">Voir le détail</button>
          <button [routerLink]="[team.id, 'emails']" class="button">Gérer les mails</button>
        </th>
      </tr>
    }
  </tbody>
</table>
