<h1 class="uppercase my-9 text-center title fs-6">emails équipe</h1>

<span class="flex justify-end mt-3">
  <button (click)="writeNewEmail()" class="button button-orange">Envoyer un nouveau mél</button>
</span>

<span class="flex-column gap-4 align-self-end p-1 mt-2">Total: {{ emails.length }} mél{{ emails.length > 1 ? 's' : '' }}</span>
@for (email of emails; track email) {
  <div class="gap-2">
    <div  class="shadow-card flex-column gap-3 mt-5 p-3 w-100percent">
      <div class="flex gap-3 align-center">
        <span class="text-bolder w-10">Date d'envoi</span>
        <span>Le {{ email.createdAt | date: 'dd/MM/YYYY à H\'h\'mm z' }}</span>
      </div>
      <div class="flex gap-3 align-center">
        <span class="text-bolder w-10">Sujet</span>
        <span>{{email.subject}}</span>
      </div>
      <!--<div class="flex gap-3 align-end">
        <span class="text-bolder w-5">Pièces jointes</span>
        <span>{{email.attachmentAmount}}</span>
      </div>-->
      <div class="flex gap-3 align-center">
        <span class="text-bolder w-10">Contenu</span>
        <button (click)="seeEmailContent(email)" class="button">Voir le contenu</button>
      </div>
    </div>
  </div>
}
