@media screen and (min-width: 900px) {
  #img {
    width: 60%;
  }

  #img {
    width: 30rem;
  }

  #form-settings {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 1.5rem;
  }
}
