<h1 class="text-weight-bold title my-9 text-center">Paramètres</h1>

<div class="flex-column align-center gap-4">
  @if (isCurrentUserEmailConfirmed) {
    <span>Votre compte est confirmé</span>
  }
  @else {
    <span>Votre compte n'est pas confirmé.</span>
    <button (click)="sendEmailConfirmation()" class="button button-turquoise">Renvoyer le mail de confirmation</button>
  }
</div>

<h2 class="uppercase text-weight-medium fs-6 mt-8">profil</h2>
<form #form="ngForm" (ngSubmit)="submit()" class="flex-column gap-6 mt-4">
  <div class="icon-in-input w-100percent">
    <input type="email" name="email" [(ngModel)]="settings.email" email placeholder=" ">
    <span>Adresse mail</span>
    <img src="/assets/icons/mail.svg" alt="menu" width="20" height="20"/>
  </div>
  <div class="flex-column gap-2">
    <div class="flex-column autocomplete-container">
      <div class="icon-in-input w-100percent">
        <input [ngModelOptions]="{standalone: true}" type="text" name="traininglabelautocomplete" [(ngModel)]="diplomaAutoComplete" placeholder=" " autocomplete="off" (keydown)="onDiplomaKeyPressed($event)" (blur)="onBlurDiploma()">
        <span>Diplôme</span>
        <img src="/assets/icons/graduation-cap.svg" alt="menu" width="20" height="20"/>
      </div>
      <div *ngIf="diplomaSuggestions !== undefined" class="autocomplete-content">
        <span *ngFor="let suggestion of diplomaSuggestions; let i = index" [class.selected]="i === diplomaSelectedSuggestionIndex" class="autocomplete-item" (mousedown)="selectDiploma(suggestion)">
          {{ suggestion.label }}
        </span>
        <span [class.selected]="diplomaSuggestions.length === diplomaSelectedSuggestionIndex" class="autocomplete-item" (mousedown)="selectOtherDiploma()">--- Autre ---</span>
      </div>
    </div>
    <input *ngIf="otherDiplomaSelected" type="text" name="traininglabel" [(ngModel)]="settings.trainingLabel" placeholder="Votre diplôme" autocomplete="off">
  </div>
  <div class="flex-column gap-2">
    <div class="flex-column autocomplete-container">
      <div class="icon-in-input w-100percent">
        <input [ngModelOptions]="{standalone: true}" type="text" name="traininglocationautocompletion" [(ngModel)]="trainingLocationAutoComplete" placeholder=" " autocomplete="off" (keydown)="onLocationKeyPressed($event)" (blur)="onBlurLocation()">
        <span>Lieu de formation</span>
        <img src="/assets/icons/map-pin.svg" alt="menu" width="20" height="20"/>
      </div>
      <div *ngIf="locationSuggestions !== undefined" class="autocomplete-content">
      <span *ngFor="let suggestion of locationSuggestions; let i = index" [class.selected]="i === locationSelectedSuggestionIndex" class="autocomplete-item" (mousedown)="selectLocation(suggestion)">
        {{ suggestion.label }} ({{ suggestion.postCode }})
      </span>
        <span [class.selected]="locationSuggestions.length === locationSelectedSuggestionIndex" class="autocomplete-item" (mousedown)="selectOtherLocation()">--- Autre ---</span>
      </div>
    </div>
    <input *ngIf="otherLocationSelected" type="text" name="traininglocation" [(ngModel)]="settings.trainingLocation" placeholder="Lieu de formation" autocomplete="off">
  </div>
  <div class="flex-column gap-2">
    <span class="fs-4">Année de formation</span>
    <select name="trainingyear" [(ngModel)]="settings.trainingYear">
      <option [ngValue]="'Première année'">Première année</option>
      <option [ngValue]="'Deuxième année'">Deuxième année</option>
      <option [ngValue]="'Troisième année'">Troisième année</option>
      <option [ngValue]="'Quatrième année'">Quatrième année</option>
      <option [ngValue]="'Cinquième année'">Cinquième année</option>
    </select>
  </div>
  <div class="flex-column gap-4 mt-6">
    <h2 class="uppercase text-weight-medium fs-6">image de profil</h2>
    <span *ngIf="!currentProfilePictureId">Vous n'avez pas de photo de profil pour le moment</span>
    <div class="text-center">
      <img *ngIf="currentProfilePictureId" [src]="currentProfilePictureId | documentUrl" alt="Image de profil" class="max-w-24 max-h-24"/>
    </div>

    <div class="flex justify-between gap-7">
      <label for="fileInput" class="button button-white text-center">
        @if (isNewProfilePictureSelected) {
          Changer la photo de profil
        }
        @else {
          Selectionner une photo de profil
        }
      </label>
      <input id="fileInput" type="file" accept="image/gif,image/jpeg,image/png" value="Changer l'image de profil" (change)="onFileSelected($event)" alt="Profile picture uploader">
      @if (canProfilePictureEditionBeCancelled) {
        <button (click)="cancelProfilePictureEdition()" type="button" class="button button-white">Annuler l'edition de la photo de profil</button>
      }
      @else if (canCurrentProfilePictureBeDeleted) {
        <button (click)="deleteCurrentProfilePicture()" type="button" class="button button-negatif">Supprimer</button>
      }
    </div>
  </div>
  <div class="flex justify-center p-2">
    <input [disabled]="!form.valid || !form.dirty" type="submit" value="Valider" class="button button-darkblue">
  </div>
</form>

<h2 class="uppercase text-weight-medium fs-6 mt-15">changement de mot de passe</h2>
<form #changePasswordForm="ngForm" (ngSubmit)="submitPasswordChange()" class="flex-column gap-6 mt-4">
  <div class="icon-in-input w-100percent">
    <input type="password" name="actualpassword" [(ngModel)]="passwordChangeRequest.oldPassword" placeholder=" " required>
    <span>Mot de passe actuel</span>
    <img src="/assets/icons/lock.svg" alt="menu" width="20" height="20"/>
  </div>
  <div class="icon-in-input w-100percent">
    <input type="password" name="newpassword" [(ngModel)]="passwordChangeRequest.newPassword" placeholder=" " required>
    <span>Nouveau mot de passe</span>
    <img src="/assets/icons/lock.svg" alt="menu" width="20" height="20"/>
  </div>
  <div class="flex-column">
    <div class="icon-in-input w-100percent">
      <input type="password" name="confirmnewpassword" [(ngModel)]="confirmPassword" placeholder=" " required>
      <span>Confirmer le mot de passe</span>
      <img src="/assets/icons/lock.svg" alt="menu" width="20" height="20"/>
    </div>
    @if (passwordChangeRequest.newPassword !== confirmPassword) {
      <span>La confirmation du mot de passe n'est pas bonne</span>
    }
  </div>
  <div class="flex justify-center">
    <input [disabled]="!changePasswordForm.valid || passwordChangeRequest.newPassword !== confirmPassword" type="submit" value="Valider" class="button button-darkblue" />
  </div>
</form>
