<h1>Fusions d'équipes</h1>
<div class="flex justify-between gap-3">
  <button (click)="acceptAllMergeRequests()" [disabled]="currentMergeSuggestions.length === 0">Accepter toutes les fusions</button>
  <button (click)="rejectAllMergeRequests()" [disabled]="currentMergeSuggestions.length === 0">Rejeter toutes les fusions</button>
  <button (click)="generateMergeRequests()" [disabled]="currentMergeSuggestions.length > 0">Générer des suggestions de fusions</button>
</div>

@for (mergeSuggestion of currentMergeSuggestions; track mergeSuggestion) {
  <div class="flex-column border p-4 gap-4">
    <h3 class="text-center">Fusion de {{ mergeSuggestion.teamsToMerge.length }} équipes</h3>
    <div class="flex gap-1">
      @for (team of mergeSuggestion.teamsToMerge; track team.id) {
        <div class="flex-column w-100percent border p-1">
          <span class="text-center text-bolder">{{ team.name }} ({{ team.members.length }} membres)</span>
          @for (member of team.members; track member.userId) {
            <span>{{ member.firstName }} {{ member.lastName }}</span>
          }
        </div>
      }
    </div>
    <div class="flex gap-4">
      <button class="w-100percent" (click)="acceptMergeRequest(mergeSuggestion)">Accepter cette fusion</button>
      <button class="w-100percent" (click)="rejectMergeRequest(mergeSuggestion)">Rejeter cette fusion</button>
    </div>
  </div>
} @empty {
  <span>Aucune suggestion de prévue, n'hésitez pas à en générer avec le bouton au-dessus !</span>
}

@if (somethingIsLoading) {
  <div class="position-fixed top-0 left-0 bottom-0 right-0 flex align-center justify-center" style="background-color: rgba(255, 255, 255, .5)">
    <spinner />
  </div>
}
