:root {
  --border-color: black;
  --border-width: 1px;
}

.border-radius {
  border-radius: 5px;
}

.rounded {
  border-radius: .625rem;
}

.border-1 {
  --border-width: 1px;
}

.border-2 {
  --border-width: 2px;
}

.border-3 {
  --border-width: 3px;
}

.border-4 {
  --border-width: 4px;
}

.border {
  border: var(--border-width) solid var(--border-color);
}

.border-top {
  border-top: var(--border-width) solid var(--border-color);
}

.border-right {
  border-right: var(--border-width) solid var(--border-color);
}

.border-left {
  border-left: var(--border-width) solid var(--border-color);
}

.border-bottom {
  border-bottom: var(--border-width) solid var(--border-color);
}
