.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem;
  width: fit-content;

  background-color: white;
  color: black;

  font-family: var(--font-main);
  font-size: 1rem;

  border: 2px solid var(--blackblue);
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;

    color: var(--grey);
    border-color: var(--grey);
    box-shadow: -5px -5px var(--grey);
  }
}

.button-link {
  border: none;
  text-decoration: underline;
  text-underline-offset: 4px;
  background-color: transparent;
}

.button-close {
  background-color: unset;
  border: none;
  padding: 5px;

  &:hover {
    cursor: pointer;
  }

  img {
    transform: rotate(45deg);
  }
}

.scale:hover, .scale:active, .scale:target {
  button {
    animation: shake 0.4s cubic-bezier(.1,.1,.1,.1) both;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  /*
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }*/
  20%, 30%, 50%, 70%, 80% {
    transform: translate3d(-1px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(1px, 0, 0);
  }
}


.button-orange {
  box-shadow: -3px -3px var(--orange);
  padding: 0.2rem 0.6rem 0.2rem 0.6rem;

  &:hover {
    background-color: #f8f0ea;
  }
}

.button-turquoise {
  box-shadow: -5px -5px var(--turquoise);
  padding: 0.4rem 1.2rem 0.4rem 1.2rem;

  &:hover:not(&:disabled) {
    background-color: #e2f8f6;
  }
}

.button-negatif {
  &:hover:not(&:disabled) {
    background-color: #ff9d9d;
  }
}

.button-add-dotted {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--little-grey);
  border: 2px dashed #BDBDBD;
  border-radius: 5px;

  cursor: pointer;

  &:hover {
    background-color: #f1f1f1;
  }
}


/*

.big-button:extend(.standard-box) {
  font-weight: bold;
  font-size: 1.8rem;
  padding: 1rem 4rem;
}

.button-close {
  border: none;
  background: none;
  font-weight: bold;
  font-size: larger;
  padding: 0;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.button {
  border: 1px solid #000;

  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;

  font-weight: normal;

  cursor: pointer;

  &:disabled {
    opacity: 60%;
    cursor: not-allowed;
  }
}

.button-white {
  color: black;
  background-color: var(--bg-white-grey);

  margin: 0.5rem 0 0.5rem 0;
  padding: 0.3rem 1.2rem 0.3rem 1.2rem;

  &:hover {
    background-color: var(--pastel-color-white-blue);
    transition: background-color 200ms ease-in-out;
  }
}

.button-darkblue {
  color: white;
  font-size: 1.1rem;
  background-color: var(--main-color-darkblue);

  margin: 0.5rem 0 0.5rem 0;
  padding: 0.3rem 1.5rem 0.3rem 1.5rem;

  &:hover {
    background-color: var(--pastel-color-darkblue);
    transition: background-color 200ms ease-in-out;
  }
}

.button-orange {
  color: black;
  background-color: var(--main-color-orange);

  margin: 0.5rem 0 0.5rem 0;
  padding: 0.3rem 1.2rem 0.3rem 1.2rem;
  width: fit-content;


  &:hover {
    background-color: var(--pastel-color-orange);
    transition: background-color 200ms ease-in-out;
  }
}

.button-negatif {
  color: black;
  background-color: #f5e9e4;

  margin: 0.5rem 0 0.5rem 0;
  padding: 0.3rem 1.2rem 0.3rem 1.2rem;

  &:hover {
    background-color: #f6bd88;
    transition: background-color 200ms ease-in-out;
  }
}
*/
