.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-relative {
  position: relative;
}

.top--15 {
  top: -15px;
}

.top--5{
  top: -3px;
}

.top-0 {
  top: 0;
}

.top-100 {
  top: 100%;
}

.bottom-0 {
  bottom: 0;
}

.top-99 {
  top: 99%;
}

.left-0 {
  left: 0;
}

.bottom-0 {
  bottom: 0;
}

.right--10 {
  right: -10px;
}

.right-0 {
  right: 0;
}
