.w-20rem {
  width: 20rem;
}

.w-min-15rem {
  width: 15rem;
}

.max-w {
  max-width: 95vw;
}

.w-max-content {
  width: max-content;
}

.h-27rem {
  height: 27rem;
}

.h-min-60vh {
  min-height: 80vh;
}

.make-sizing-classes(@size: 24, @decrement: 1) when (@size >= 0) {
  .make-sizing-classes(@size - @decrement);

  @size-rem: @size * 1rem;

  .w-@{size} { width: @size-rem; }
  .max-w-@{size} { max-width: @size-rem; }
  .min-w-@{size} { min-width: @size-rem; }
  .h-@{size} { height: @size-rem; }
  .max-h-@{size} { max-height: @size-rem; }
  .min-h-@{size} { min-height: @size-rem; }
}

.make-sizing-classes();

.make-sizing-classes-percent(@size: 100, @decrement: 10) when (@size >= 0) {
  .make-sizing-classes-percent(@size - @decrement);

  @size-percent: @size * 1%;

  .w-@{size}percent { width: @size-percent; }
  .max-w-@{size}percent { max-width: @size-percent; }
  .min-w-@{size}percent { min-width: @size-percent; }
  .h-@{size}percent { height: @size-percent; }
  .max-h-@{size}percent { max-height: @size-percent; }
  .min-h-@{size}percent { min-height: @size-percent; }
}


.make-sizing-classes-percent();

.w-100percent-imp {
  width: 100% !important;
}


@media screen and (min-width: 900px) {
  .max-pc-50vw {
    max-width: 50vw;
  }
}

/*
.min-svh-90 {
  min-height: 90svh;
}

.h-100vh {
  height: 100vh;
}

.min-svh-100 {
  min-height: 100svh;
}

.min-svw-100 {
  min-width: 100vw;
}

.w-80vw {
  width: 80vw;
}

*/
