<ng-container *ngIf="state === 'pending'">
  Vérification de votre token
</ng-container>
<ng-container *ngIf="state === 'success'">
  Votre email à bien été confirmée!
</ng-container>
<ng-container *ngIf="state === 'error'">
  Ce lien n'est pas valable
</ng-container>
