@import '~quill/dist/quill.snow.css';

@import "styles/tools/borders";
@import "styles/tools/colors";
@import "styles/tools/cursor";
@import "styles/tools/flex";
@import "styles/tools/position";
@import "styles/tools/sizing";
@import "styles/tools/spacing";
@import "styles/tools/typography";
@import "styles/tools/links";
@import "styles/tools/buttons";
@import "styles/tools/z-index";

@import "styles/autocomplete";
@import "styles/override";

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-white-grey);
  font-family: var(--font-main);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  height: 7rem;
  background-color: var(--blackblue);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  margin-top: 2.5rem;
  padding: 0.75rem 0.75rem 2rem 0.75rem;

  border: 2px solid black;
  height: fit-content;
  min-width: 40%;

  & > * {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

textarea {
  font-family: var(--font-main);
  font-size: 1rem;
  padding: 0.5rem;
  min-height: 20vh;

  resize: vertical;

  border: none;
  border-bottom: 1px solid black;
  border-radius: 3px;
  background-color: var(--little-grey);

  &:focus {
    box-shadow: 5px 5px var(--turquoise);
    border: 2px solid black;
  }
}

input, select {
  font-family: var(--font-main);
  font-size: 1rem;
  padding: 0.7rem;
  max-width: 100%;

  border: none;
  border-bottom: 1px solid black;
  border-radius: 3px;
  background-color: var(--little-grey);

  &:focus {
    box-shadow: 5px 5px var(--turquoise);
    border: 2px solid black;
  }
}

.icon-in-input {
  position: relative;
  display: flex;
  gap: .5rem;
  flex-direction: column-reverse;
  justify-content: center;

  &>input, &>textarea, &>button {
    padding-right: 2rem;


    &.ng-invalid.ng-touched {
      background-color: rgba(255, 0, 0, .2);
    }

    &:focus ~ span, &:not(:placeholder-shown) ~ span,
    &:focus ~ label, &:not(:placeholder-shown) ~ label{
      top: 0;
      color: black;
      font-size: .75rem;
    }
  }

  & > span, & > label {
    height: 1rem;
    margin-left: 5px;
    color: #737373;

    position: relative;
    pointer-events: none;
    top: calc(10px + 1.5rem);

    transition: top .2s, font-size .2s;
  }

  &>img {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

input[type="file"] {
  display: none;
}

hr {
  border-top: 1px solid black;
  margin-block: 1.5rem;
  width: 100%;
}

.hidden {
  display: none !important;
}

.no-scrolling {
  overflow-y: hidden;
}

.scrolling {
  overflow-y: auto;
}

.standard-box {
  border: .1875rem solid #000;
}

.d-none {
  display: none;
}

.content-width {
  width: 100%;
}

.shadow-header {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.shadow-card {
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
}

.hover-grey {
  &:hover {
    background-color: var(--little-grey);
  }
}

.mobile-menu {
  display: none;

  & > div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background-color: white;

    & img {
      height: 1.6rem;
    }

    & .close-icon {
      height: 48px;
      width: 48px;
    }

    & > .backdrop {
      position: absolute;
      top: -99999px;
      bottom: 0;
      right: 100%;
      left: -99999px;
      background-color: rgba(0, 0, 0, .5);
      backdrop-filter: blur(.1rem);

      z-index: 9999;
    }
  }
}

@media screen and (min-width: 900px) {
  .content-width {
    display: flex;
    flex-direction: column;
    width: 70vw;
  }
}

.overflow-y-hidden {
  overflow-y: auto;
}

@media (max-width: 900px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: flex;
  }
}
