<h1 class="text-weight-bold my-5 text-center">Quitter l'évènement</h1>
<div class="flex-column gap-4">
  <div class="flex-column">
    <span>Voulez-vous vraiment quitter cet évènement ?</span>
    <span>Vous pourrez le rejoindre à tout moment avec un lien de partage (code, invitation, ...).</span>
  </div>
  <span class="flex justify-between">
    <button class="button" (click)="output.next(false)">Annuler</button>
    <button class="button button-negatif" (click)="removeUserToEvent()">Quitter</button>
  </span>
</div>
