<h1 class="text-weight-bold my-5 text-center">Rejoindre un évènement</h1>
<div class="flex-column gap-4">
  <span>Voulez-vous rejoindre</span>
  <span>l'évènement ?</span>
</div>
<button>Rejoindre</button>
