<h1 class="text-weight-bold my-5 text-center">Rejoindre une équipe</h1>
<div class="flex-column gap-4">
  <form #form="ngForm" (ngSubmit)="join()" class="flex-column gap-10">
    <div class="flex-column gap-4">
      <span class="icon-in-input">
        <input type="text" placeholder="Code d'invitation" name="invitationCode" [(ngModel)]="invitationCode" required [minlength]="8" [maxlength]="8" class="w-100percent">
        <img src="../assets/icons/ticket.svg" alt="(code)" width="20" height="20"/>
      </span>
    </div>
    <div class="flex justify-center">
      <input [disabled]="!form.valid" class="button button-turquoise" type="submit" value="Rejoindre">
    </div>

    <ng-container *ngIf="status === 'wrong-code'">
      <p class="flex justify-center align-center fs-4 color-turquoise gap-2">
        <img src="../assets/icons/circle-x-turquoise.svg" alt="menu" width="16" height="16"/>
        Code invalide.
      </p>
    </ng-container>
    <ng-container *ngIf="status === 'already-in-a-team'">
      <p class="flex justify-center align-center fs-4 color-turquoise gap-2">
        <img src="../assets/icons/circle-x-turquoise.svg" alt="menu" width="16" height="16"/>
        Vous êtes déjà membre d'une équipe pour cet évènement.
      </p>
    </ng-container>

  </form>
</div>
