<h1 class="text-weight-bold my-5 text-center">Rejoindre un évènement</h1>
<div class="flex-column gap-4">
  <span>Pour rejoindre un évènement, entrez son code.</span>
  <form #myForm="ngForm" (ngSubmit)="submit()" class="flex-column gap-10">
    <div class="flex-column gap-4">
      <span class="icon-in-input">
        <input class="w-100percent" type="text" placeholder="Code" name="name" [(ngModel)]="code" required>
        <img src="../assets/icons/ticket.svg" alt="(code)" width="20" height="20"/>
      </span>
    </div>
    <div class="flex justify-center">
      <input [disabled]="!myForm.valid" class="button button-turquoise" type="submit" value="Rejoindre">
    </div>
  </form>
  <span *ngIf="errorMsgActivated">
    <p class="flex justify-center align-center fs-4 color-turquoise gap-2">
      <img src="../assets/icons/circle-x-turquoise.svg" alt="menu" width="16" height="16"/>
      Impossible de rejoindre l'évènement.<br>
      {{errorMsg}}.
    </p>
</span>
</div>
