<div class="flex-column gap-10 align-center my-9">
  <h1 class="text-weight-bold title">Connexion</h1>
  <span *ngIf="!!errorMessage">
      <p class="fs-4 color-turquoise">
        <img src="../assets/icons/circle-x-turquoise.svg" alt="menu" width="16" height="16"/>
        {{ errorMessage }}
      </p>
    </span>
</div>

<div class="flex flex-column justify-center align-center gap-15 mt-15">
  <form #loginForm="ngForm" (ngSubmit)="tryToLog()" class="flex-column gap-15">

    <div class="flex-column gap-4 w-22">
      <!--<label for="emailLogin">Email</label>-->
      <span class="icon-in-input w-100percent">
        <input id="emailLogin" #emailInput="ngModel" [(ngModel)]="email" pattern="^[^@]+@[^@]+\.[^@]+$" name="email" placeholder=" "
               required type="email" class="w-100percent">
        <span>Adresse mail</span>
        <img src="../assets/icons/mail.svg" alt="menu" width="20" height="20"/>
      </span>
    </div>

    <div class="flex-column gap-4 w-22">
      <!--<label for="passwordLogin">Mot de passe</label>-->
      <span class="icon-in-input">
        <input [(ngModel)]="password" id="passwordLogin" name="password" placeholder=" " required
             type="password"  class="w-100percent">
        <span>Mot de passe</span>
        <img src="/assets/icons/lock.svg" alt="menu" width="20" height="20"/>
      </span>
      <span class="flex">
        <button class="button-link" (click)="resetPassword()" [disabled]="!emailInput.valid" type="button">Mot de passe oublié?</button>
      </span>
    </div>

    <div class="flex-column align-center gap-10">
      <button class="button button-turquoise w-100percent-imp" [disabled]="!loginForm.valid" type="submit">
        <img *ngIf="!loginForm.valid" src="../assets/icons/log-in-gray.svg" alt="(icone login)" width="20" height="20"/>
        <img *ngIf="loginForm.valid" src="../assets/icons/log-in.svg" alt="(icone login)" width="20" height="20"/>
        Se connecter
      </button>
      <button class="button button-orange" (click)="sendMagicLink()" [disabled]="!emailInput.valid" type="button">
        <img *ngIf="!emailInput.valid" src="../assets/icons/send-gray.svg" alt="(icone send)" width="20" height="20"/>
        <img *ngIf="emailInput.valid" src="../assets/icons/send.svg" alt="(icone send)" width="20" height="20"/>
        Se connecter par mail
      </button>
      <a routerLink="/register" [queryParams]="registerQueryParams" class="mt-5">Pas encore inscrit ?</a>
    </div>

  </form>

</div>
