Réinitialisation de mot de passe!
<ng-container *ngIf="passwordResetState === 'checking-validity'">
  Vérification de la validité du code...
</ng-container>
<ng-container *ngIf="passwordResetState === 'invalid-code'">
  Code invalide (potentiellement exprié)
</ng-container>
<ng-container *ngIf="passwordResetState === 'ready-for-submission'">
  <form ngForm (ngSubmit)="submit()">
    <label>Nouveau mdp</label>
    <input name="password" type="password" [(ngModel)]="newPassword">
    <input type="submit">
  </form>
</ng-container>
<ng-container *ngIf="passwordResetState === 'success'">
  <span>Votre mot de passe à bien été réinitialisé</span>
  <a routerLink="/login">Se connecter</a>
</ng-container>
