<div class="shadow-card border-radius w-20rem max-w h-27rem px-5 pt-2 pb-5 flex-column justify-between"
     (click)="(isModerator ? openEditEvent() : (isPlayerAlreadyInTeam(event.id) ? goToTheTeam() : ''))"
     [ngClass]="isPlayerAlreadyInTeam(event.id) || isModerator ? 'cursor-pointer hover-grey' : 'scale'" >
  <span class="flex justify-center align-center mb-2">
    <img src="../assets/illustrations/undraw_off_road_re_leme.svg" alt="(illustration)" class="w-50percent">
  </span>

  <span class="uppercase text-center text-weight-medium mb-3">{{event.name}}</span>

  <div class="flex justify-evenly align-center color-grey fs-4 gap-3">
    <img src="../assets/icons/calendar.svg" alt="menu" width="16" height="16"/>
    <div class="flex-column">
      <span>Évènement : {{event.beginning | date: 'dd/MM/yyyy'}}</span>
      <span *ngIf="event.registerBeginning">Inscriptions : du {{event.registerBeginning | date: 'dd/MM/yyyy'}} au {{event.registerEnding | date: 'dd/MM/yyyy'}}</span>
    </div>
  </div>

  <p class="overflow-y-hidden">{{event.description}}</p>

  <hr>

  <div class="mb-3">
    <span *ngIf="isModerator" class="flex justify-between">
      <a routerLink="/event/{{event.id}}/teams" class="button button-orange fs-3">
        <img src="../assets/icons/user-round-search.svg" alt="menu" width="16" height="16"/>
        Équipes
      </a>
      <a routerLink="/event/{{event.id}}/stats" class="button button-orange fs-3">
        <img src="../assets/icons/pie-chart.svg" alt="menu" width="16" height="16"/>
        Stats
      </a>
      <a routerLink="/event/{{event.id}}/edit" class="button button-orange fs-3">
         <img src="../assets/icons/pencil.svg" alt="(icone edit)" width="16" height="16"/>
        Editer
      </a>
    </span>


    <div *ngIf="!isModerator">
      <ng-container *ngIf="!isPlayerAlreadyInTeam(event.id)">
          <span class="flex justify-evenly gap-7">
            <button type="button" (click)="createTeam()" class="button button-orange">
              <img src="../assets/icons/circle-plus.svg" alt="(icone add)" width="16" height="16"/>
              Créer une équipe
            </button>
          </span>
      </ng-container>
      <span class="flex justify-center">
          <a *ngIf="isPlayerAlreadyInTeam(event.id)" [routerLink]="['/event', event.id, 'teams', getPlayerTeamId(event.id)]" class="button button-orange">
             <img src="../assets/icons/eye.svg" alt="(icone edit)" width="16" height="16"/>
            Voir mon équipe
          </a>
        </span>
    </div>

  </div>
</div>
