<span class="flex-column align-center mb-15">
  <h1 *ngIf="isEditingMode" class="text-weight-bold title my-9 text-center">Modifier votre évènement</h1>
  <h1 *ngIf="!isEditingMode" class="text-weight-bold title my-9 text-center">Créer un évènement</h1>
  <img src="../assets/illustrations/undraw_off_road_re_leme.svg" alt="(illustration)" class="w-60percent">
</span>

<form #myForm="ngForm" (ngSubmit)="submit()" class="flex-column gap-15">

  <div class="flex-column gap-4">
    <h2 class="uppercase text-weight-medium fs-6">évènement</h2>

    <div class="flex-column gap-4">
      <div id="name-date-event" class="flex-column gap-4">
        <label for="nameEvent">Nom de l'évènement*</label>
        <span class="icon-in-input">
          <input id="nameEvent" type="text" class="w-100percent" placeholder="{{eventViewModel.name}}" name="name" [(ngModel)]="eventViewModel.name" required>
          <img src="../assets/icons/case-upper.svg" alt="menu" width="20" height="20"/>
        </span>
      </div>

      <span class="flex-column gap-4">
        <label for="beginning">Début de l'évènement*</label>
        <input id="beginning" #beginningField="ngModel" type="date" dateValue name="beginning" [(ngModel)]="eventViewModel.beginning" required>

      </span>
    </div>

    <div class="flex-column gap-4">
      <label for="description">Description</label>
      <span class="icon-in-input">
        <textarea id="description" class="w-100percent" placeholder="{{eventViewModel.description}}" name="description" [(ngModel)]="eventViewModel.description"></textarea>
        <img src="../assets/icons/text.svg" alt="menu" width="20" height="20"/>
        </span>
    </div>

    <div *ngIf="isEditingMode" class="flex-column gap-4">
      <label for="codeEvent">Code</label>
      <div class="flex align-center gap-2">
        <button type="button" class="button p-1" (click)="openQrcodeModal()">
          <img src="/assets/icons/qr-code.svg" height="20" width="20">
        </button>
        <button type="button" class="button p-1" (click)="copyToClipboard()">
          <img src="/assets/icons/copy.svg" height="20" width="20">
        </button>
        <input class="flex-fill" id="codeEvent" type="text" [disabled]="true" placeholder="{{eventViewModel.code}}" name="code" [(ngModel)]="eventViewModel.code">
      </div>
    </div>
  </div>

  <div class="flex-column gap-4">
    <h2 class="uppercase text-weight-medium fs-6">Inscriptions</h2>
    <div>
      <span class="flex-column gap-4">
        <label for="registerBeginning">Date de début des inscriptions</label>
        <input id="registerBeginning" #beginningRegisterField="ngModel" type="date" dateValue name="registerBeginning" [maxDate]="eventViewModel.beginning" [(ngModel)]="eventViewModel.registerBeginning">
      </span>
      <span *ngIf="beginningRegisterField.errors && beginningRegisterField.errors['maxDate']">
        <p class="flex justify-center align-center fs-4 color-turquoise gap-2">
          <img src="../assets/icons/circle-x-turquoise.svg" alt="menu" width="16" height="16"/>
          Les inscriptions ne peuvent débuter après le début de l'évènement.
        </p>
      </span>
    </div>
    <div>
      <span class="flex-column gap-4">
        <label for="registerEnding">Date de fin des inscriptions</label>
        <input id="registerEnding" #endingRegisterField="ngModel" type="date" dateValue name="registerEnding" [minDate]="eventViewModel.registerBeginning" [maxDate]="eventViewModel.beginning" [(ngModel)]="eventViewModel.registerEnding">
      </span>
      <span *ngIf="endingRegisterField.errors && endingRegisterField.errors['maxDate']">
         <p class="flex justify-center align-center fs-4 color-turquoise gap-2">
           <img src="../assets/icons/circle-x-turquoise.svg" alt="menu" width="16" height="16"/>
           Les inscriptions ne peuvent débuter après le début de l'évènement.
         </p>
      </span>
      <span *ngIf="endingRegisterField.errors && endingRegisterField.errors['minDate']">
         <p class="flex justify-center align-center fs-4 color-turquoise gap-2">
           <img src="../assets/icons/circle-x-turquoise.svg" alt="menu" width="16" height="16"/>
           Les inscriptions ne peuvent se finir avant qu'elles ne débutent.
         </p>
      </span>
    </div>
  </div>


  <div class="flex-column gap-4">
    <h2 class="uppercase text-weight-medium fs-6">équipes</h2>
    <div class="flex justify-between align-center">
      <label for="allowTeam">Fonctionnement par équipes</label>
      <e-checkbox id="allowTeam" inputId="allowTeam" [(ngModel)]="allowTeam" name="allowTeam" />
    </div>

    <div *ngIf="allowTeam">
      <div class="flex justify-between align-center">
        <label for="allowTeamName">Nom d'équipe autorisée</label>
        <e-checkbox id="allowTeamName" inputId="allowTeamName" [(ngModel)]="eventViewModel.allowTeamName" name="allowTeamName"/>
      </div>
    </div>
    <div *ngIf="allowTeam">
      <div class="flex justify-between gap-4 align-center">
        <label for="minimumPerTeam">Nombre minimum par équipe</label>
        <input id="minimumPerTeam" class="w-4" type="number" min="1" [defaultValue]="eventViewModel.minimalTeamSize" name="minimalTeamSize" [(ngModel)]="eventViewModel.minimalTeamSize">
      </div>
    </div>
    <div *ngIf="allowTeam">
      <div>
        <span class="flex justify-between gap-4 align-center">
          <label for="maximumPerTeam">Nombre maximum par équipe</label>
          <input id="maximumPerTeam" class="w-4" #maximalTeamSizeField="ngModel" type="number" [min]="eventViewModel.minimalTeamSize ?? 1" name="maximalTeamSize" [(ngModel)]="eventViewModel.maximalTeamSize">
        </span>
        <span *ngIf="maximalTeamSizeField.errors && maximalTeamSizeField.errors['min']">
           <p class="flex justify-center align-center fs-4 color-turquoise gap-2">
           <img src="../assets/icons/circle-x-turquoise.svg" alt="menu" width="16" height="16"/>
             La taille maximale doit être égale ou supérieure à la taille minimale.
           </p>
        </span>
      </div>
    </div>
    <span *ngIf="errorMessage">
      <p class="fs-4 color-turquoise">
        <img src="../assets/icons/circle-x-turquoise.svg" alt="menu" width="16" height="16"/>
        {{errorMessage}}
      </p>
    </span>
  </div>

  <div class="flex-column gap-8">
    <h2 class="uppercase text-weight-medium fs-6">documents</h2>
    <div *ngFor="let documentRequirement of eventViewModel.documentRequirements; let i = index" class="m-1 p-5 shadow-card border-radius flex-column gap-4">
      <div class="flex-column gap-4">
        <label>Nom du document requis</label>
        <input type="text" [(ngModel)]="documentRequirement.name" required name="nameDocReq{{i}}" />
      </div>

      <div class="flex-column gap-4">
        <div class="flex justify-between align-center">
          <label for="docIndiv{{i}}">Document individuel</label>
          <e-checkbox inputId="docIndiv{{i}}" [(ngModel)]="documentRequirement.individual" name="docIndiv{{i}}" />
        </div>
        <div class="flex justify-between align-center">
          <label for="docFacultatif{{i}}">Document facultatif</label>
          <e-checkbox inputId="docFacultatif{{i}}" [(ngModel)]="documentRequirement.optional" name="docFacultatif{{i}}" />
        </div>
      </div>

      <span class="flex-column gap-2">
        <span>Document type</span>
        <span class="flex justify-center align-center">
          <button type="button" class="button button-orange" *ngIf="!documentRequirement.newDocumentContent && !documentRequirement.documentId" (click)="addDocumentRequirementDocument(documentRequirement)">Joindre un document</button>
        </span>

        <span class="flex-column gap-2 justify-center align-center">
          <button type="button" class="button button-orange" *ngIf="!!documentRequirement.newDocumentContent || !!documentRequirement.documentId" (click)="seeDocumentRequirementDocument(documentRequirement)">
            <img src="../assets/icons/eye.svg" alt="menu" width="16" height="16"/>
            Voir le document joint
          </button>
          <button type="button" class="button button-negatif" *ngIf="!!documentRequirement.newDocumentContent || !!documentRequirement.documentId" (click)="deleteDocumentRequirementDocument(documentRequirement)">
            <img src="../assets/icons/trash-2.svg" alt="menu" width="16" height="16"/>
            Supprimer le document joint
          </button>
      </span>
      </span>

      <span class="mt-8 flex justify-end">
        <button type="button" class="button p-1 button-negatif" (click)="removeDocumentRequirement(documentRequirement)">
          <img src="../assets/icons/trash-2.svg" alt="menu" width="16" height="16"/>
          Supprimer
        </button>
      </span>
    </div>

    <span>
      <button type="button" (click)="addDocumentRequirement()" class="button-add-dotted w-100percent h-5">
        <img src="../assets/icons/file-plus-2.svg" alt="menu" width="16" height="16"/>
      </button>
    </span>
  </div>

  <div class="flex justify-center mb-10">
    <input [disabled]="!myForm.valid" class="button button-turquoise" type="submit" [value]="isEditingMode ? 'Enregistrer' : 'Créer'">
  </div>
  <input #fileInput class="d-none" type="file" name="fileSelector" accept="image/*, .pdf" (change)="onFileSelected($event)" />
</form>
