<header class="flex justify-between align-center p-4 shadow-header">
  <a routerLink="/" class="flex zindex-0">
    <img src="assets/Logo.svg" alt="logo" />
  </a>
  @if (isUserLogged) {
    <div class="desktop-menu flex justify-between flex-fill mx-10">
      <div class="flex gap-8">
        @if (isUserModerator) {
          <a [routerLink]="'/events'">Évènements</a>
        }
        @if (isUserAdministrator) {
          <a [routerLink]="'/users'">Utilisateurs</a>
          <a [routerLink]="'/email-template'">Modèles d'emails</a>
        }
      </div>
      <div class="flex gap-8">
        <a [routerLink]="'/settings'">Paramètres</a>
        <a (click)="logout()" class="cursor-pointer">Se déconnecter</a>
      </div>
    </div>
    <div class="mobile-menu flex">
      @if (isMenuOpened) {
        <div class="p-4 flex-column gap-5 shadow-card">
          <div class="flex justify-end">
            <img src="/assets/icons/x.svg" alt="close menu" (click)="toggleMenu()" class="close-icon" />
          </div>
          <div class="backdrop" (click)="toggleMenu()"></div>
          <a [routerLink]="'/settings'" class="px-4 py-2 flex align-center gap-4 border-bottom">
            <img src="/assets/icons/user-round.svg" aria-hidden="true" height="48" />
            <span class="fs-6">Paramètres</span>
          </a>
          @if (isUserModerator) {
            <a [routerLink]="'/events'" class="px-4 py-2 flex align-center gap-4 border-bottom">
              <img src="/assets/icons/calendar-black.svg" aria-hidden="true" height="48" />
              <span class="fs-6">Évènements</span>
            </a>
          }
          @if (isUserAdministrator) {
            <a [routerLink]="'/users'" class="px-4 py-2 flex align-center gap-4 border-bottom">
              <img src="/assets/icons/users-round.svg" aria-hidden="true" height="48" />
              <span class="fs-6">Utilisateurs</span>
            </a>
            <a [routerLink]="'/email-template'" class="px-4 py-2 flex align-center gap-4 border-bottom">
              <img src="/assets/icons/mail.svg" aria-hidden="true" height="48" />
              <span class="fs-6">Modèles d'emails</span>
            </a>
          }
          <div class="flex-fill"></div>
          <div (click)="logout()" class="px-4 py-2 flex align-center gap-4 border-bottom cursor-pointer">
            <img src="/assets/icons/log-out.svg" aria-hidden="true" height="48" />
            <span class="fs-6">Se déconnecter</span>
          </div>
        </div>
      } @else {
        <img src="/assets/icons/menu.svg" alt="open menu" (click)="toggleMenu()" height="48" width="48" />
      }
    </div>
  }
</header>

<div class="flex-column justify-center align-center p-5 mb-20 h-min-60vh">
  <router-outlet></router-outlet>
</div>
<modal-container></modal-container>

<footer class="mt-auto w-100percent h-100percent">
  <div class="color-white flex-column align-center justify-center my-15">
    <p>
      MAVE
    </p>
    <p>
      Marina Carbone & Émilien Girolet
    </p>
  </div>
</footer>
