.autocomplete-container {
  position: relative;

  & .autocomplete-content {
    z-index: 1;

    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    gap: .25rem;

    background-color: white;
    border: 1px solid black;

    & .autocomplete-item {
      cursor: pointer;

      &:hover {
        background-color: lightblue;
      }

      &.selected {
        background-color: #00b9ff;
      }
    }
  }
}
