<event-form-component [eventViewModel]="eventViewModel"></event-form-component>
<span class="flex justify-end">
  <button (click)="openDeleteEventModal()" class="button button-negatif">
    <img src="../assets/icons/trash-2.svg" alt="menu" width="16" height="16"/>
    Supprimer
  </button>
</span>
