<div class="flex-column gap-10 align-center my-9">
  <h1 class="text-weight-bold title">Statistiques</h1>
</div>

<div class="flex align-center">
  <button (click)="downloadStatistics()" class="button button-orange">Télécharger les statistiques de l'évènement</button>
</div>
