<h1>Inviter des membres</h1>
<div class="flex justify-between p-2 ">
  <span (click)="currentTab = 'qrcode'" [ngClass]="{'text-weight-bold border-2': currentTab === 'qrcode', 'color-gray border-gray': currentTab !== 'qrcode'}"
        class="border-bottom pb-2 pr-2 pl-1 text-center cursor-pointer w-100percent">QRCode</span>
  <span (click)="currentTab = 'email'" [ngClass]="{'text-weight-bold border-2': currentTab === 'email', 'color-gray border-gray': currentTab !== 'email'}"
        class="border-bottom pb-2 pl-2 pr-1 text-center cursor-pointer w-100percent">Mail</span>
</div>


<div *ngIf="currentTab === 'qrcode'" class="flex-column gap-4 mt-5">
  <qrcode [margin]="0" [qrdata]="invitationUrl"  elementType="svg"/>
  <div class="flex justify-between">
    <span>Code de l'équipe : </span>
    <span>{{ input?.code }}</span>
    <img src="../assets/icons/clipboard-plus.svg" alt="menu" width="16" height="16"/>
  </div>
</div>

<div *ngIf="currentTab === 'email'">
  <form #invitationForm="ngForm" (ngSubmit)="invite(invitationForm)" class="flex-column gap-10 mt-5">
    <div class="flex-column gap-4">
      <label for="invitEmail">Email de la personne à inviter</label>
      <span class="icon-in-input">
        <input id="invitEmail" [(ngModel)]="invitationEmail" email name="invitation-email" placeholder="Email du membre à inviter" required type="email" class="w-100percent">
        <img src="../assets/icons/mail.svg" alt="(code)" width="20" height="20"/>
      </span>
    </div>
    <div class="flex justify-center">
      <input [disabled]="!invitationForm.valid" type="submit" value="Inviter" class="button button-turquoise">
    </div>
  </form>
  <div>
    <div *ngFor="let invitation of currentlyInvited" class="flex justify-between gap-3">
      <span>{{ invitation }}</span>
      <span>Invitation envoyée</span>
    </div>
  </div>
</div>
