<div class="flex-column gap-10 align-center my-9">
  <h1 class="text-weight-bold title">Les évènements</h1>
  <a routerLink="/event/create" class="button button-turquoise">
    <img src="../assets/icons/circle-plus.svg" alt="menu" width="20" height="20"/>
    Créer un évènement
  </a>
</div>

<!--
<p>Voici tous les évènements que vous avez créés.</p>
<p>N’hésitez pas à en créer d’autres en fonction de vos besoins ! Vous pouvez ensuite les partager.</p>
-->

<div *ngIf="events.length === 0">
  <p>(Aucun évènement n'a été trouvé.)</p>
</div>

<div class="flex justify-center flex-wrap gap-15 mt-15">
  <div *ngFor="let event of events">
    <event-card [eventToDisplay]="event" [isModeratorUser]="true"></event-card>
  </div>
</div>
