<div class="flex-column gap-10 align-center my-9">
  <h1 class="text-weight-bold title">Les évènements</h1>

  <button (click)="joinTeam()" class="button button-turquoise">
    <img src="../assets/icons/log-in.svg" alt="menu" width="20" height="20"/>
    Rejoindre une équipe
  </button>
</div>

<!--

<p>Voici tous les évènements que vous avez rejoint.</p>
<p>N’hésitez pas à en rejoindre d’autres !  Vous pourrez ensuite inviter vos coéquipiers si l'évènement le permet.</p>
-->

<div *ngIf="events.length === 0">
  <p>(Aucun évènement n'a été trouvé)</p>
</div>

<div id="add-event-and-cards" class="flex justify-center flex-wrap gap-15 mt-20">
  <div class="w-100percent flex justify-center align-center">
    <button type="button" (click)="openJoinEventModal()" class="button-add-dotted w-100percent h-3">
      <img src="../assets/icons/circle-plus-grey.svg" alt="menu" width="24" height="24"/>
    </button>
  </div>
  <div *ngFor="let event of events">
    <event-card [eventToDisplay]="event" [isModeratorUser]="false"></event-card>
  </div>
</div>
